* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 70%;
      grid-template-columns: auto 70%;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body h2 {
  font-size: 2.1vw;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7vw;
}

#activityData {
  background-color: red;
}

#leftSide {
  color: #fff;
}

#leftSide p {
  font-size: 1.1vw;
}

#leftSide #watch {
  padding-top: 1vw;
  text-align: center;
}

#leftSide #watch p:last-child {
  font-size: 3vw;
}

#leftSide #weather {
  margin: 0;
  text-align: center;
}

#leftSide #dish {
  text-align: center;
  margin-top: 2vw;
}

#leftSide #dish #wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

#leftSide #dish #wrapper p {
  padding-top: 0.5vw;
}

#leftSide #dish #capitalize {
  text-transform: capitalize;
}

#leftSide #dish .active {
  color: red;
}

#leftSide #bus {
  margin-top: 2vw;
  text-align: center;
}

#leftSide #bus #bustimewrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

#news {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#news marquee {
  display: inline;
  white-space: nowrap;
  color: #fff;
  font-size: 1.2vw;
  text-align: center;
  padding-right: 10vw;
}

#news marquee .news_bullet {
  margin: 0% 5%;
}
