* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f5f3f3;
}

body h2 {
  font-size: 2vw;
}

#dish h2 {
  padding-left: 1vw;
  text-decoration: underline;
  text-transform: uppercase;
}

#dish ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#dish #test {
  text-transform: capitalize;
}

#dish li {
  padding: 1vw;
}

#dish .active {
  color: #fff;
}
