* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f5f3f3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body h2 {
  font-size: 2vw;
}

#dish h2 {
  padding-left: 1vw;
  text-decoration: underline;
  text-transform: uppercase;
}

#dish ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#dish #test {
  text-transform: capitalize;
}

#dish li {
  padding: 1vw;
}

#dish .active {
  color: #fff;
}

#news {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#news marquee {
  display: inline;
  white-space: nowrap;
  color: #fff;
  font-size: 1.5vw;
  text-align: center;
  padding-right: 10vw;
}

#news marquee .news_bullet {
  margin: 0% 5%;
}

#weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#weather p {
  font-size: 3vw;
}
