// MAIN
* {
    //global og universal selector
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgba(238, 238, 238, 0.50);
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    display: grid;
    grid-template-columns: auto 75%;
    h2 {
        font-size: 1.7vw;
        font-weight: 400;
        text-decoration: underline;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 0.5vw;
    }
}

//Left-side med tid,bus,menu
#leftSide {
    position: relative;
    overflow: hidden;
    background-color: #000;
    height: 100vh;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h4{
        text-align: center;
        font-size: .8vw;
        padding-top: 5%;
        font-style: italic;
        opacity: 60%;
    }
    //Den global P
    p {
        font-size: 1.2vw;
    }
    //WATCH
    #watch {
        padding-top: 4vh;
        text-align: center;
        p:first-child {
            font-weight: bold;
            font-size: 0.9vw;
        }
        p:nth-child(2) {
            font-weight: bold;
            font-size: 0.9vw;
        }
        p:last-child {
            font-size: 5vw;
            line-height: 1;
        }
    }
    //Weather
    #weather {
        margin: 0;
        text-align: center;
        p {
            font-weight: bold;
            font-size: 1.5vw;
            line-height: 2;
        }
    }
    &.default {
        background-image: url("../images/content/weather/default.jpg");
        h2,
        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
        }
    }
    &.clear {
        background-image: url("../images/content/weather/clearV2.jpg");
        h2,
        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        }
    }
    &.clouds {
        background-image: url("../images/content/weather/cloudsV2.jpg");
        h2,
        p {
            color: rgb(255, 255, 255);
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
        }
    }
    &.drizzle {
        background-image: url("../images/content/weather/light-rainV2.jpg");
        h2,
        p {
            color: #ffffff;
            text-shadow: 1px 1px 1px rgb(0, 0, 0);
        }
    }
    &.foggy {
        background-image: url("../images/content/weather/foggyV2.jpg");
        h2,
        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
        }
    }
    &.light-rain {
        background-image: url("../images/content/weather/light-rainV2.jpg");
        h2,
        p {
            color: rgb(254, 255, 190);
            text-shadow: 1px 1px 1px rgb(0, 0, 0);
        }
    }
    &.mist {
        background-image: url("../images/content/weather/foggyV2.jpg");
        h2,
        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
        }
    }
    &.partly-cloudy {
        background-image: url("../images/content/weather/partly-cloudyV2.jpg");
        h2,
        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
        }
    }
    &.rain {
        background-image: url("../images/content/weather/rainV2.jpg");
        h2,
        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
        }
    }
    &.snow {
        background-image: url("../images/content/weather/snowV2.jpg");
        h2,
        p {
            color: rgb(255, 255, 255);
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
        }
    }
    &.sunny {
        background-image: url("../images/content/weather/sunnyV2.jpg");
        h2,
        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
        }
    }
    &.thunderstorm {
        background-image: url("../images/content/weather/thunderstormV2.jpg");
        h2,
        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
        }
    }
    &.windy {
        background-image: url("../images/content/weather/windyV2.jpg");
        h2,
        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
        }
    }
    //DISH
    #dish {
        text-align: center;
        margin-top: 3vh;
        #wrapper {
            display: grid;
            justify-content: center;
            grid-template-columns: auto auto;
            gap: 0.5vw;
            column-gap: 2.5vw;
            padding: 0 2vw;
            p {
                text-align: left;
                padding-top: 0.5vw;
            }
        }
        #capitalize {
            text-transform: capitalize;
        }
        .normal {
            font-weight: 400;
            line-height: 1.2;
            opacity: 80%;
        }
        .active {
            font-weight: bold;
        }
    }
    #bus {
        margin-top: 6vh;
        text-align: center;
        #bustimewrapper {
            display: grid;
            justify-content: center;
            grid-template-columns: auto auto auto;
            gap: 0.5vw;
            column-gap: 1.1vw;
            padding-left: 1.5vw;
            p {
                padding-top: 0.3vw;
                font-size: 1.2vw;
                font-weight: 500;
                text-align: left;
            }
        }
    }
}

//ACTIVITY DATA
#activityData {
    font-size: 1.7vw;
    padding: 0 2vw;
    table {
        border-collapse: collapse; //det her gør at der ikke er hul imellem linjerne
        tbody {
            height: 95vh;
            color: rgba(0, 0, 0, 0.575);

            tr {
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                th:nth-child(1) {
                    padding-right: 7vw;
                }
                th:nth-child(2) {
                    padding-right: 5vw;
                }
                th:nth-child(3) {
                    padding-right: 7vw;
                }
                th:last-child {
                    padding-left: 1vw;
                }
                td:last-child {
                    padding-right: 0vw;
                    padding-left: 1vw;
                }
                #nextDay {
                    font-size: 2vw;
                    font-weight: bold;
                }
                th {
                    // overskrifter
                    //vi er nødt til at sætte på både th og td for at få padding på hver linje
                    padding-bottom: 0.41vw;
                    padding-top: 2vw;
                    height: 5vh;
                    text-align: left;
                    text-transform: uppercase;
                    font-size: 2.2vw;
                    color: rgba(0, 0, 0, 0.637);
                }
                td {
                    // indhold
                    //vi er nødt til at sætte på både th og td for at få padding på hver linje
                    padding-bottom: 0.35vw;
                    padding-right: 4.5vw;
                    height: 4.8vh;
                    // td:last-child{   
                    //     border-bottom: 0;
                    // } 
                }
                .capitalize {
                    text-transform: capitalize; //vi har givet alle fag en class
                    //derfor kan vi sørge for at de alle starter med stort bogstav
                }
                &:last-child{
                    border-bottom: 0;
                }
            }
            #nextDay{
                font-weight: 700;
                text-transform: capitalize;
            }
        }
        .dot {
            //den der laver cirklerne
            height: 0.8vw; //det er nødt til at være i px
            width: 0.8vw; //det er nødt til at være i px
            border-radius: 50%;
            display: inline-block;
            // margin-bottom: 0.3vw; //det her centrerer dem
            position: relative;
            top: -0.2vh;
        }
        .brobyg {
            background-color: #aff0af;
        }
        .amu {
            background-color: #ffcc99;
        }
        .web {
            background-color: #cc99ff;
        }
        .grafTek {
            background-color: #66ccff;
        }
        .medieGraf {
            background-color: #ffc0cb;
        }
    }
}

#news {
    overflow: hidden;
    display: flex;
    padding: 5px 0px;
    height: 3vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    color: #fff;
    align-items: center;
    position: fixed;
    bottom: 0;
    div {
        animation: marquee 120s linear infinite;
        width: 100%;
        white-space: nowrap;
    }
    span {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2vw;
        line-height: 5;
        &:nth-child(odd) {
            margin: 0% 1%;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-490%);
    }
}

// Her starter alt det her sne kaos
// https://codepen.io/alphardex/pen/dyPorwJ
@function random_range($min,
$max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
}

.snowFlake {
    box-shadow: 0 0 10px white;
    $total: 200;
    position: absolute;
    width: 1vw;
    height: 1vw;
    background: white;
    border-radius: 50%;
    @for $i from 1 through $total {
        $random-x: random(1000000) * 0.0001vw;
        $random-offset: random_range(-100000, 100000) * 0.0001vw;
        $random-x-end: $random-x + $random-offset;
        $random-x-end-yoyo: $random-x + ($random-offset / 2);
        $random-yoyo-time: random_range(30000, 80000) / 100000;
        $random-yoyo-y: $random-yoyo-time * 100vh;
        $random-scale: random(10000) * 0.0001;
        $fall-duration: random_range(10, 30) * 1s;
        $fall-delay: random(30) * -1s;
        &:nth-child(#{$i}) {
            opacity: random(10000) * 0.0001;
            transform: translate($random-x, -10px) scale($random-scale);
            animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
        }
        @keyframes fall-#{$i} {
            #{percentage($random-yoyo-time)} {
                transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
            }
            to {
                transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
            }
        }
    }
}
